<!-- title specifies about the current page -->
<title>Daily Notes | About</title>
       <%- include('partials/header.ejs') %>

    <main>
        <h5><%= pageName %></h5>

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut deserunt rem atque sit ratione accusamus. Labore,
        error quibusdam accusantium eaque nam reprehenderit molestiae dolore excepturi praesentium possimus! Possimus
        dolorem dignissimos sit alias iusto? Aliquid modi assumenda provident sapiente, quo, harum porro ea nemo illo
        pariatur dignissimos rem voluptas sequi cumque minus cupiditate culpa, voluptatum officiis esse hic reiciendis
        repudiandae mollitia iure eos. Enim nihil, porro culpa, similique quibusdam veritatis, aspernatur alias suscipit
        vitae ea at magni voluptas! Repellat rem minus dolorem est incidunt facere ipsa, quo corrupti quae, saepe odio
        expedita modi architecto eius, voluptate quibusdam ad beatae consectetur earum.
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>